
@{
    ViewBag.Title = "ThankYou";
}

<h1 class="display-4">Thank You</h1>

<p class="lead">Thanks for your purchase. You may receive a phone call to finish the purchase. Your clothes will be delivered in a few days.
    For any questions , please contact us!</p>

