
@{
    ViewBag.Title = "AboutUs";
}

<h1 class="display-4">Contact</h1>
If you wish to contact us you can do it with one of the following ways: <br />
E-mail: <mark>webshop@yahoo.com</mark> <br />
Phone: <mark>+359 123 456 789</mark>
<br />
<hr />
<div class="text-muted">
    <small> Thanks for checking out my project.</small>
    <br />
About me: <br /> 
@@email: backnott@@gmail.com <br />
@@email: backnot@@mail.bg <br />

@@github: https://github.com/BackNot
    <br />
    </div>

