
@{
    ViewBag.Title = "FAQ";
}

<h1 class="display-4">FAQ</h1>

<ul class="list-group">
    <li class="list-group-item q1">1.How much time is required for delivery?</li>
    <li class="list-group-item q2">2.Is delivery free?</li>
    <li class="list-group-item q3">3.I want to return an item , what do I do ?</li>
    <li class="list-group-item q4">4.How can I contact you?</li>
    <li class="list-group-item q5">5.Why some items have more sizes than others?</li>
</ul>
<p>
<div class="a1 lead">1.Between 2 and 4 workings days.Most of the time its 2 days</div>
<div class="a2 lead">2.Yes</div>
<div class="a3 lead">3.Contact us and explain if you want another item or your money back.</div>
<div class="a4 lead">4.Via email(webshop@yahoo.com) or phone(+359 123 456 789)</div>
<div class="a5 lead">5.We have listed only sizes that we currently have.</div>
    </p>

